@model NSC_project.Models.User
@{
    ViewData["Title"] = "Login";
    
}

    <div class="sign section--bg" data-bg="./img/section.jpg"
         style="background: url(./img/section.jpg) center center / cover no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        
                        <form asp-action="Login" class="sign__form" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <a href="http://flixgo.volkovdesign.com/main/index.html" class="sign__logo">
                                <img src="./img/logo.svg" alt="">
                            </a>

                            <div class="sign__group">
                                <input name="Email" type="text" class="sign__input" placeholder="Email">
                            </div>

                            <div class="sign__group">
                                <input name="Password" type="password" class="sign__input" placeholder="Password">
                            </div>

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Remember Me</label>
                            </div>

                            <button class="sign__btn" type="submit">Sign in</button>

                            <span class="sign__text">

                            Don't have an account? <a asp-action="Register">Sign up!</a>
                            </span>

                            <span class="sign__text">
                                <a href="http://flixgo.volkovdesign.com/main/forgot.html">
                                    Forgot
                                    password?
                                </a>
                            </span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

